 
*.txt
UML_DIAGRAM_CODE.md
FigmaDesign.md
*.md
.DS_Store
**/.DS_Store
*.pbxproj
anabul-care.xcodeproj/project.pbxproj
anabul-care.xcodeproj/project.xcworkspace/xcuserdata/niki.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
